.body {
    background-color: rgb(230, 205, 224);
    margin: 20px;
    padding: 30px;
    font-size: large;
}
.topnav {
    background-color: rgb(216, 104, 197);
    overflow: hidden;
  }
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  } 
  .card {
    padding: 10px 16px;
    background-color: rgb(230, 205, 224);
    display: grid;
    grid-auto-rows: auto;
    border: 30px solid #e7e7e7;
  }
  .heading {
    color: rgb(161, 42, 197);
    text-align: center;
    padding-top: 40px;
  } 
  .myname  {
    color: rgb(161, 42, 197);
    padding-left:40px ;
    padding-bottom: 40px;
    font-weight: bold;
} 
img {
    float: left;
    width: 250px;
    height: 200px;
    padding-right: 20px;
  }
  #lady {
font-weight: bold;
  } 